APP_NAME=AngelowShipping
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8007

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_CO

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=shipping-db
DB_PORT=5432
DB_DATABASE=angelow_shipping
DB_USERNAME=postgres
DB_PASSWORD=root
DB_SCHEMA=public

QUEUE_CONNECTION=redis
CACHE_STORE=redis
CACHE_PREFIX=angelow_shipping

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=4
REDIS_CACHE_DB=4
