APP_NAME=AngelowDiscount
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8006

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_CO

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=discount-db
DB_PORT=5432
DB_DATABASE=angelow_discounts
DB_USERNAME=postgres
DB_PASSWORD=root
DB_SCHEMA=public

LEGACY_DB_HOST=host.docker.internal
LEGACY_DB_PORT=3306
LEGACY_DB_DATABASE=angelow
LEGACY_DB_USERNAME=root
LEGACY_DB_PASSWORD=

NOTIFICATION_SERVICE_URL=http://notification-service:8000/api
NOTIFICATION_DISCOUNT_TYPE_ID=1
FRONTEND_STORE_URL=http://localhost:5173

MAIL_MAILER=smtp
MAIL_SCHEME=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Angelow Descuentos"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=angelow_discount

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=3
REDIS_CACHE_DB=3
